@font-face {
  font-family: muli;
  src: url(Muli-Regular.ttf);
}

@font-face {
  font-family: muli-light;
  src: url(Muli-Light.ttf);
}

:root {
  --height: 100px;
}

::placeholder {
  font-family: muli;
  font-size: 16px;
}

p {
  font-family: muli;
  line-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "muli", sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  height: var(--height);
  justify-content: space-between;
  padding-inline: 20px;
}

header {
  background-color: #030e22;
  height: var(--height);
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  color: #fff;
  margin-top: var(--height);
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  color: #435162;
  padding: 20px;
}

footer {
  background-color: #030e22;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 15px;
}

.logo {
  height: 60px;
  width: 60px;
}

.nav-links {
  display: none;
}

.nav-links a {
  font-size: 14px;
}

.menu-btn {
  position: relative;
}

.sidebar {
  background-color: #677285;
  font-size: 16px;
  height: 100vh;
  padding: 10px;
  position: absolute;
  right: -100%;
  top: 0;
  transition: 0.5s;
  width: 80%;
}

.sidebar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sidebar-body-wrapper {
  padding: 25px;
}

.sidebar-list {
  border-bottom: 1px solid #030e22;
  padding-block: 25px;
}

.section-one,
.contact-section-one {
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  /* z-index: -1; */
}

.contact-section-one {
  align-items: center;
  background: #030e22;
  display: flex;
  height: 300px;
  justify-content: center;
}

.cso-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cso-head h4 {
  line-height: 30px;
}

.cso-body {
  display: flex;
  gap: 10px;
}

.cso-head h4 {
  text-align: center;
}

.section-one {
  background-image: url(assets/building.jpg);
  height: 500px;
  padding: 0;
  width: 100%;
}

.secone-text {
  width: 100%;
}

.carousel-slide {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.slide h2 {
  font-family: muli;
  font-size: 20px;
}

.slide p {
  font-size: 14px;
  /* width: 40%; */
}

.carousel-slide .secone-btn-wrapper {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev,
.next {
  font-size: 18px;
}

.secone-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.secone-btn-wrapper {
  display: flex;
  gap: 20px;
}

.secone-link {
  padding: 10px 20px;
}

.contact-link a {
  color: #fff;
}

.contact-link:hover {
  background-color: #fff;
}

.contact-link:hover a {
  color: #075d70;
}

.contact-link {
  background-color: #075d70;
  border: 1px solid #075d70;
  padding: 8px 10px;
  transition: all 0.3s;
  width: fit-content;
}

.getstarted,
.aboutus {
  background-color: #075d70;
}

.learnmore {
  border: 1px solid #fff;
}

.slider {
  position: absolute;
  top: 50%;
}

.left-slider {
  left: 80px;
}

.right-slider {
  right: 80px;
}

.secthree-intro,
.secfive-intro {
  display: flex;
  gap: 5px;
}

.sec-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alignBtn {
  align-items: center;
}

.empty-div {
  border-bottom: 3px solid #030e22;
  width: 50px;
}

.aboutus {
  padding: 10px 20px;
  width: fit-content;
}

.section-four {
  background-color: #f8faff;
  padding: 20px;
}

.section-six {
  background: #98a5b3;
  color: #fff;
}

.banner {
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 550px;
  margin: auto;
  padding: 30px 10px 50px 10px;
  text-align: center;
  width: 100%;
}

.banner-head {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner:hover {
  transform: scale(1.03);
}

.banner-link {
  color: #030e22;
}

.banner-paragraph {
  margin: auto;
  text-align: center;
  width: 250px;
}

.secfour-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin-top: 30px;
}

.secfive-list-wrapper {
  padding: 20px;
  text-align: left;
  width: 100%;
}

.secfive-list-wrapper li {
  border-bottom: 2px solid #075d70;
  padding: 20px;
}

.secseven-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.contact {
  align-items: center;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 10px rgb(222, 220, 220);
  display: flex;
  gap: 5px;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.footer-list-wrapper li {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #075d70;
  text-decoration: underline;
}

.flink {
  align-items: center;
  padding-inline: 20px;
}

.socials {
  align-items: center;
  display: flex;
  gap: 10px;
}

.social svg:hover {
  fill: #075d70;
}

.sub-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sub-contact h4 {
  font-size: 20px;
}

.c-flink-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.flink .c-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactUs-btn {
  display: none;
}

.contactUs-btn button {
  border: none;
  font-size: 16px;
  padding: 10px 0;
  white-space: nowrap;
}

.contactUs-btn button a {
  color: #030e22;
  padding: 10px 30px;
  width: 100%;
}

.nav-to-top {
  align-items: center;
  background-color: #075d70;
  border-radius: 50%;
  bottom: 50px;
  display: inline-flex;
  font-size: 18px;
  height: 3em;
  justify-content: center;
  position: fixed;
  right: 30px;
  visibility: hidden;
  width: 3em;
}

.building-head {
  font-size: 35px;
  line-height: 60px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about p {
  font-family: muli;
  line-height: 35px;
}

.ap-grid {
  display: grid;
  gap: 70px;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.ap-grid-img {
  height: 200px;
  width: 100%;
}

.ap-grid-img img {
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1055px) {
  nav {
    justify-content: space-between;
    padding-inline: 15%;
  }

  section,
  footer {
    padding-inline: 60px;
  }

  .slide {
    padding-inline: 80px;
  }

  .slide h2 {
    font-size: 50px;
  }

  .slide p {
    font-size: 24px;
  }

  .sidebar {
    width: 40%;
  }

  .c-flink-wrapper,
  footer {
    align-items: center;
    flex-direction: row;
  }

  footer {
    justify-content: space-between;
    padding-block: 100px;
  }

  .sec-text-wrapper {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .fz {
    font-size: 40px;
    width: 98%;
    text-align: left;
  }

  .secfour-grid {
    grid-template-columns: 1fr 1fr;
    padding-inline: 30px;
  }

  .nav-links {
    display: none;
  }
}

@media (min-width: 1056px) {
  .menu-btn {
    display: none;
  }

  .section-one {
    height: 85vh;
  }

  .pad {
    padding-inline: 20%;
  }

  .sec-text-wrapper {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  nav {
    justify-content: space-between;
    padding-inline: 15%;
  }

  .slide h2 {
    font-size: 70px;
  }

  .slide p {
    font-size: 30px;
    width: 80%;
  }

  .slide {
    padding-inline: 80px;
  }

  .secfive-list-wrapper {
    width: 80%;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    white-space: nowrap;
    width: 100%;
  }
  .secfour-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
    width: 80%;
  }

  .secseven-grid {
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
    width: 85%;
  }

  .s-secseven-grid {
    gap: 30px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contactMerge {
    display: flex;
    gap: 20px;
    padding-inline: 30px;
  }

  footer {
    padding-block: 30px;
    padding-inline: 15%;
  }

  .services-head {
    font-size: 30px;
    line-height: 40px;
  }

  .maps-section {
    margin: auto;
    width: 80%;
  }

  .form {
    margin: auto;
    width: 60%;
  }

  .ap-grid {
    margin: 30px auto;
    width: 80%;
  }

  .ap-grid-img {
    height: 500px;
  }

  .about {
    text-align: center;
  }
}
